<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Playlist Predictor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <input id="song-input" type="text" placeholder="Song Title">
  <button id="send-song-btn">Envoyer</button>
  <p id="result-text" class="invisible"> Cliquez sur le morceau à envoyer </p>
  <div id="results"></div>
  <div id="prediction"></div>
  <button id="new-search-btn" class="invisible">Refaire une prediction</button>
</body>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>